nav {
	overflow: auto;
	background: #a2cf2d;
	height: 55px;
	line-height: 55px;
}

a {
	color: white;
	text-decoration: none;
}

.nav-links {
	float: right;
	display: block;
	width: auto;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	font-weight: bold;
	color: white;
	/* border: 2px solid black; */
}

.nav-links img {
	object-fit: contain;
	width: 15px;
	margin-right: 5px;
	/* border: 2px solid black; */
}

.nav-links div {
	/* border: 2px solid black; */
	display: flex;
	justify-content: center;
	text-transform: capitalize;
}
.right {
	float: right;
}

.left {
	float: left;
}

.profile-menu {
	display: block;
	position: absolute;
	right: 10px;
	width: 200px;
	padding-top: 10px;
	padding-left: 15px;
	padding-bottom: 10px;
	border-radius: 5px;
	background: white;
}

.profile-menu a {
	color: red;
	font-weight: bold;
}

.profile-menu-hidden {
	display: none;
	position: absolute;
	right: 10px;
	width: 200px;
	padding-top: 10px;
	padding-left: 15px;
	border-radius: 5px;
	background: white;
}
