.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 1.7;
  color: black;
}

.header {
  height: 100vh;
  background-image: linear-gradient(rgba(119, 119, 119, 0.356), rgba(0, 0, 0, 0.418)),url(./img/food.jpg);
  background-size: cover;
  background-position: top;
}

.landing {
  height: 69vh;
  /* background-color: wheat; */
}

.header h1 {
  text-align: center;
  color: white;
}

.nav-primary {
  width: 100vw;
  height: 6vh;
  
}

.nav-links {
  float: right;
  display: block;
  height: 7vh;
  width: auto;
  text-align: center;
  font-size: 1.3vw;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  position: fixed;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: .6rem .8rem;
  text-decoration: none;
  
}

li a:hover {
  border-bottom: 5px solid rgba(255, 0, 0, 0.74);
}

.nav-name {
  display: block;
  color: white;
  /* text-align: center; */
  padding: 14px 16px;
  text-decoration: none;

  float: right;
  /* display: block; */
  height: 8vh;
  width: auto;
  text-align: center;
  text-transform: capitalize;
  font-size: 18px;
}

.left {
  float: left;
}

.App-Name {
  color: white;
  font-size: 100px;
  text-align: center;
  margin-top: 23vh;
  word-spacing: 30px;
  font-family: 'Sirin Stencil', cursive;

  animation-name: moveInTop;
  animation-duration: 2s;
}

.App-Sub-Name {
  color: white;
  font-size: 22px;
  text-align: center;
  font-family: 'Sirin Stencil', cursive;

  animation-name: fadeIn;
  animation-duration: 4s;
}

/* Arrow Animation */

.downArrow{
	position: fixed;
	bottom: 5vh;
  left: 49vw;
}
.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

/* End Of Animated Arrow */
.About-page {
  height: 95vh;
}
.About {
  /* height: 100vh; */
  width: 70vw; 
  margin: 0 auto;
  background-color: rgb(247, 247, 247);
  border-radius: 7px;
  box-shadow: 10px 10px 5px black;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
}

.About h1 {
  color: black;
  text-align: center;
  margin-top: 5vh;
  padding-top: 5vh;
}

.About p {
  margin-top: 10vh;
  margin: 0 auto;
  padding-top: 3vh;
}
.InfoCard-cont {
  display: flex;
  justify-content: center;
}
.InfoCard-cont img {
  width: 15vw;
  height: 15vw;
  object-fit: contain;
} 

.Img-InfoCard {
  width: 18vw;
  margin: 4vw;
  text-align: center;
  overflow: scroll;
  background-color: rgb(247, 247, 247);
  display: block;
  border-radius: 7px;
  box-shadow: 10px 10px 5px black;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.form {
  text-align: center;
  margin-top: -8vh; 
  color: white;
  background-color:#fff;
  height: auto;
  width: 30vw;
  border-radius: 5px;
  border: 3px solid white;
}

.form-heading {
  width: 20vw;
  margin: 0 auto;
  margin-top: -4vh;
  background-color: red;
  font-size: 1.5vw;
  font-family: 'Sirin Stencil', cursive;
}

.input-holder {
  position: relative;
  height: auto;
  margin-top: 5vh;
  /* border: 2px solid black; */
}

.form-input {
  width: 20vw;
  height: 5vh;
  font-size: 18px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #BEBEBE;
  margin: .7vw;
  padding: 1vw;
  background-color: transparent;
  
}

.form-submit {
  height: 6vh;
  width: 7vw;
  font-size: 1.5vw;
  background-color: red;
  margin: 2vw;
  color: white;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 92vh;
}

/* .hidden-input {
  display: none;
} */
.grocery-cont {
  overflow: scroll;
  height: 82vh;;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: center;
}


.ingredient-card {
  width: 16vw;
  height: auto;
  max-height: 44vh;
  margin: 13px;
  background-color: white;
  text-align: center;
  padding: 10px;
  color: black;
  /* font-size: 16px; */
  text-transform: lowercase;
  /* text-transform: capitalize; */
  border-radius: 5px;
  box-shadow: 10px 10px 25px black;

  animation-name: moveInTop;
  animation-duration: 1s;
}

.ingredient-details {
  position: relative;
}

.green {
  border: 7px solid green;
}

.ingredient-card img {
  width: 11vw;
  height: 17vh;
  object-fit: contain;
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    -moz-transform: translateY(-160px);
    -ms-transform: translateY(-160px);
    -webkit-transform: translateY(-160px);
    transform: translateY(-160px);
  }
  

  100% {
    opacity: 1;
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.button {
  padding: 4px;
  margin: 8px;
  color: black;
  background-color: white;
  bottom: 0;
  box-shadow: 3px 2px 20px grey;
  border-radius: 5px;
  font-size: 17px;
}

.hidden-input {
  opacity: 0;
}

.no-pantry {
  margin-top: 25vh;
  font-family: 'Staatliches', cursive;
}

.delete-button {
  display: block;
  float: right;
  /* margin: 0 auto; */
  background-color: red;
  border-radius: 1rem;
  width: 1.73vw;
  height: 3vh;
  border: 2px black;
  position: relative;
  margin-top: -1.3rem;
  margin-right: -1.3rem;
}

.recipe-cont {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  justify-content: center;
  height: 66vh;
  width: 80vw;
  margin: 0 auto;
}

.recipe-card {
  background: #913834;
  color: white;
  width: 15vw;
  height: auto;
  margin: 1rem;
  border-radius: .2rem;
  text-align: center;
  box-shadow: 10px 10px 5px black;
}


.recipe-card img {
  object-fit: contain;
  width: 15vw;
  height: 20vh;
  display: block;
  margin: 0 auto;
}

.save img {
  width: 2vw;
  height: 2vh;
}

.recipe-link {
  text-decoration: none;
}

.recipe-card h1 {
  font-size: 1vw;
  height: 6vh;
}

/* .recipe-name {
} */

.recipe {
  text-align: center;
}

.recipe-page img{
  width: 28vw;
  height: 49vh;
  object-fit: contain;
  /* margin: 0 auto; */
  display: block;
  border: 1px solid lightgray;
}

.recipe-page {
  text-align: center;
  color: black;
  font-size: 18px;
  background-color: white;
  width: 80vw;
  margin: 0 auto;
  display: block;
  height: 80vh;
  overflow: scroll;
  margin-top: 10vh;
  border-radius: .4rem;
}

.recipe-page h1 {
  color: black;
}


.recipe input[type=text] {
  width: 14rem;
  height: 2rem;
  /* border-radius: 1rem; */
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  color: white;
  border-bottom-color: white;
  font-size: 20px;
  margin: 1rem;
  text-align: center;
  
}

.recipe button {
  height: 1.6rem;
  width: 4rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

input:focus {outline:none;}

/* To Make Text Glow */

.glow {
  /* font-size: 80px; */
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60800, 0 0 40px #e62300, 0 0 50px #e61b00, 0 0 60px #e64900, 0 0 70px #e62e00;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff8e4d, 0 0 40px #ffac4d, 0 0 50px #ff4d4d, 0 0 60px #ff684d, 0 0 70px #ff4d4d, 0 0 80px #ff714d;
  }
}

.selectedItems {
  float: left;
  /* border: 2px solid; */
  width: 33vw;
  height: 15vh;
  position: absolute;
  margin-top: -4.2vh;
  font-size: .95vw;
  overflow: scroll;
  color: white;
}

.selectedItems-heading {
  float: left;
  /* border: 2px solid; */
  width: 33vw;
  height: 15vh;
  position: absolute;
  margin-top: -7vh;
  font-size: 1vw;
  /* overflow: scroll; */
  color: white;
}

.pagination {
  color: white;
  display: block;
  float: left;
  /* border: 2px solid white; */
  height: 8vh;
  margin-top: 12vh;
  padding: 1vw;
  /* position: relative; */
}

.right {
  float: right;
  /* margin-left: 20vh; */
}